/* Alignments */
.center{ text-align: center;}
.right{ text-align: right;}
.left{ text-align: left;}
/* Text Sizings*/
.sized{ font-size: var(--size);}
.title{ font-size: 50px;}
.subtitle{ font-size: 25px;}
/* Text FX */
.pad{ padding: var(--padding);}
/* Borders */
.dotted {border-style: dotted;}
.dashed {border-style: dashed;}
.solid {border-style: solid;}
.double {border-style: double;}
.groove {border-style: groove;}
.ridge {border-style: ridge;}
.inset {border-style: inset;}
.outset {border-style: outset;}
/* Buttosn */
.buttonRed {border: none;padding: 15px 32px;text-decoration: none;display: inline-block;font-size: 16px;color: tomato;}
.buttonGreen {color: mediumseagreen;}
.buttonBlue {color: dodgerblue;}
.buttonYellow {color: orange;}
.buttonPurple {color: purple;}
.buttonGrey {color: grey;}
.buttonGray {color: grey;}
.buttonWhite {color: white;}
.buttonViolet {color: violet;}
/* Button Hovers*/
.buttonRed:hover{color: orange;}
.buttonGreen:hover{color: darkseagreen;}
.buttonBlue:hover{color: lightblue;}
.buttonYellow:hover{color: lemonchiffon;}
.buttonPurple:hover{color: indigo;}
.buttonGrey:hover{color: gainsboro;}
.buttonGray:hover{color: gainsboro;}
.buttonWhite:hover{color: linen;}
.buttonViolet:hover{color: blueviolet;}
/* Colors */
.red{ color:tomato;}
.green{ color: mediumseagreen;}
.blue{ color: dodgerblue;}
.yellow{ color: orange;}
.purple{ color: purple;}
.grey{ color: grey;}
.gray{ color: grey;}
.white{ color: white;}
.violet{ color: violet;}
/* Background Colors */
.bgred{ background-color:tomato;}
.bggreen{ background-color: mediumseagreen;}
.bgblue{ background-color: dodgerblue;}
.bgyellow{ background-color: orange;}
.bgpurple{ background-color: purple;}
.bggrey{ background-color: grey;}
.bggray{ background-color: grey;}
.bgwhite{ background-color: white;}
.bgviolet{ background-color: violet;}
/* Boxs */
.warning{   background-color: orange;width: var(--boxSize);border: 5px dashed tomato;padding: 20px;margin: 20px;}
.welcome{ background-color: white;width: var(--boxSize);border: 5px dashed dodgerblue;padding: 20px;margin: 20px;}
.exit{ background-color: purple;width: var(--boxSize);border: 5px dashed blue;padding: 20px;margin: 20px;}
.error{ background-color: red;width: var(--boxSize);border: 5px dashed tomato;padding: 20px;margin: 20px;}
.question{ background-color: yellowgreen;width: var(--boxSize);border: 5px dashed lightgreen;padding: 20px;margin: 20px;}
.picture{ background-color: bisque;width: var(--boxSize);border: 1px solid white;padding: 20px;margin: 20px;}
/* Animations */
@keyframes rainbow{0% {background-color: tomato;}12.5% {background-color: mediumseagreen;}25% {background-color: dodgerblue;}27.5% {background-color: orange;}50% {background-color: purple;}62.5% {background-color: grey;}75% {background-color: white;}87.5% {background-color: violet;}}
@keyframes move-to-right{from{left: 0px;}to{right: 0px;}}
@keyframes move-to-left{from{right: 0px;}to{left: 0px;}}
@keyframes move-down{from{top:0px;}to{bottom: 0px;}}
@keyframes move-up{}
.rainbow{animation-name: rainbow;animation-duration: var(--time);}
.left{animation-name: move-to-left;animation-duration: var(--time);}
.right{animation-name: move-to-right;animation-duration: var(--time);}
.down{animation-name: move-down;animation-duration: var(--time);}
.up{animation-name: move-up;animation-duration: var(--time);}
